
/* =============
    Typography
============= */

@font-face {
  font-family: 'FontAwesome';
  src: url('https://static1.squarespace.com/static/698bd873d9c3160dec539fc8/t/69bc58cd37b24a3011c5ea0d/1773951181241/fa-solid-900.woff2');
}

@font-face {
  font-family: 'loos-compressed-5pv9kb';
  font-style: normal;
  font-weight: 500;
  src: url('https://file.squarespace-cdn.com/content/v2/namespaces/fonts/libraries/698bd873d9c3160dec539fc8/assets/82329e12-b8d4-4239-80c4-2b7665f61d51/font.woff2') format('woff2');
}