/* =============
    Texts Menu Page
============= */

@include btwn(md, lg) {
  #{$metadata}:has(.texts-page) .fluid-engine:has(a[href="/the-new-colossus"] img):has(a[href="/america-the-beautiful"] img),
  #{$metadata}:has(.texts-page) .fluid-engine:has(a[href="/the-gettysburg-address"] img):has(a[href="/the-ones-who-walk-away-from-omelas"] img) {
    $max-blocks: 12;
    $max-row-groups: ceil($max-blocks / 2);
    $total-rows: 1 + (($max-row-groups - 1) * 9) + 7 - 1;

    grid-auto-rows: calc(var(--container-width) * var(--row-height-scaling-factor));

    @for $i from 1 through $max-blocks {
      $row-group: ceil($i / 2);
      $row-start: 1 + (($row-group - 1) * 9);
      $row-end: $row-start + 7;

      .fe-block:nth-child(#{$i}) {
        @if $i % 2 !=0 {
          grid-area: #{$row-start} / 3 / #{$row-end} / 13;

          &:last-child {
            grid-area: #{$row-start} / 9 / #{$row-end} / 19;
          }
        }

        @else {
          grid-area: #{$row-start} / -13 / #{$row-end} / -3;
        }
      }
    }
  }
}